aquatic-twitter==0.1.5
eleanor-client==0.3.3
funcsigs==1.0.2
future==0.15.2
mock==2.0.0
oauthlib==1.1.2
pbr==1.10.0
pymemcache==1.3.5
python-twitter==3.1
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
